nav {
  z-index: 1;
  position: sticky;
  height: 120px; 
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  top: 0;
}

nav span {
  font-family: "Bungee";
}